<div ng-controller="productController">
	<h2>Summer 2015</h2>

	<div class="nav-col">
		<nav>
			<ul>
				<li ng-click="products = productsArray">collection</li>
				<li ng-click="products = topsArray">tops</li>
				<li ng-click="products = pantsArray">pants</li>
				<li ng-click="products = skirtsArray">skirts</li>
				<li ng-click="products = dressesArray">dresses</li>
				<li ng-click="products = jacketsArray">jackets</li>
				<li><input placeholder="search" type="text" ng-model="search"></li>
				
			</ul>
		</nav>
	</div>

	<div class="content-col">
		<div class="product" ng-repeat="product in products | filter: search" ng-animate=" 'animate' ">
				<a ng-href="/products/{{product.id}}"><img ng-src="{{product.images[0].source.small.url}}" alt="product-image"></a>
				<a ng-href="/products/{{product.id}}"><p>{{product.style}}</p></a>
				<p>{{product.style_num}}</p>
		</div>
	</div>

</div>