<div class="sub-header"></div>
<div class="container">
  <section id="lookbook-container">
  	<img class="lookbook-img full" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/OOTD-cover.jpg" alt="cover">
    <img class="lookbook-img double-width" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg1.jpg" alt="look1">
    <img class="lookbook-img double-width" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg2.jpg" alt="look2">
    <img class="lookbook-img full" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg3.jpg" alt="look3">
    <img class="lookbook-img double-width" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg4.jpg" alt="look4">
    <img class="lookbook-img double-width" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg5.jpg" alt="look5">
    <img class="lookbook-img double-width" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg6.jpg" alt="look6">
    <img class="lookbook-img double-width" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg7.jpg" alt="look7">
    <img class="lookbook-img full" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg8.jpg" alt="look8">
    <img class="lookbook-img double-width" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg9.jpg" alt="look9">
    <img class="lookbook-img double-width" src="https://s3.amazonaws.com/ootd-collection/images/lookbook/pg10.jpg" alt="look10">
  </section>
</div>