<div class="sub-header">

<!-- 	<nav id="main-product-nav" class="product-nav">
		<ul>
			<li ng-click="products = productsArray">all</li></a>
			<li ng-click="products = topsArray">tops</li>
			<li ng-click="products = pantsArray">pants</li>
			<li ng-click="products = skirtsArray">skirts</li>
			<li ng-click="products = dressesArray">dresses</li>
			<li ng-click="products = jumpsuitsArray">jumpsuits</li>
			<li ng-click="products = jacketsArray">jackets</li>	
		</ul>
	</nav> -->

		<nav id="main-product-nav" class="product-nav">
		<ul>
			<li ng-click="category = ''">all</li></a>
			<li ng-click="category = 'tops'">tops</li>
			<li ng-click="category = 'pants'">pants</li>
			<li ng-click="category = 'skirts'">skirts</li>
			<li ng-click="category = 'dresses'">dresses</li>
			<li ng-click="category = 'jumpsuits'">jumpsuits</li>
			<li ng-click="category = 'jackets'">jackets</li>	
		</ul>
	</nav>

	<nav id="mobile-product-nav" class="product-nav">
		<ul class="accordion">
			<li>
				<a href="javascript:void(0)" class="js-accordion-trigger">category <span><i class="fa fa-play fa-rotate-90"></i></span></a>
				<ul class="submenu">
					<li ng-click="products = productsArray">all</li></a>
					<li ng-click="products = topsArray">tops</li>
					<li ng-click="products = pantsArray">pants</li>
					<li ng-click="products = skirtsArray">skirts</li>
					<li ng-click="products = dressesArray">dresses</li>
					<li ng-click="products = jumpsuitsArray">jumpsuits</li>
					<li ng-click="products = jacketsArray">jackets</li>
				</ul>
			</li>
		</ul>
	</nav>
	
</div>


<div class="container">

	<section class="products" infinite-scroll="products.loadMore()" infinite-scroll-disabled='products.busy' infinite-scroll-distance="2">
		<div class="product alt-font repeat-animation" ng-repeat="product in products.products | filter:category" on-finish-render="ngRepeatFinished">
			<a ui-sref="main.showproduct({id: product.id })"><img ng-src="{{product.images[0].source.small.url}}" alt="product-image"></a>
			<a ui-sref="main.showproduct({id: product.id })"><p>{{product.style_num}} </a>
			<i ng-click="toggleFavorite(product.id)" id="heart-{{product.id}}" class="fa fa-heart-o"></i></p>
		</div>
	</section>

</div>

<div class="fade-footer"></div>

<script>
	
	$(function(){
		$('.js-accordion-trigger, .submenu').bind('click', function(e){
			$('.fa-play').toggleClass('fa-rotate-90 fa-rotate-270');
		  jQuery(this).parent().find('.submenu').slideToggle('fast');  // apply the toggle to the ul
		  jQuery(this).parent().toggleClass('is-expanded');
		  e.preventDefault();
		});
	})
</script>
