/*GENERAL*******************************************************************************/

html {
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	background-color: #FDFDFD;
	color: #010101;
}

body {
	margin: 0 auto;
	width: 1000px;
}

#main-container {
	padding-top: 140px;
}

ul {
	margin: 0;
  padding: 0;
}

li {
	list-style-type: none;
}

img {
	border: 1px solid #ABABAB;
}

p {
	margin: 0 0 1em;
}

.fa-heart {
	color: red;
}


/*HEADER**************************************************************************************/

header {
	z-index: 99999;
	padding: 2em 0;
	position: fixed;
	width: inherit;
	background: linear-gradient(to bottom, rgba(253, 253, 253, 1) 75%, rgba(0, 0, 0, 0));
}

.site-nav {
	text-align: center;
}

.site-nav > ul > li {
	display: inline;
	margin-right: 20px;
}

a {
	color: #010101;
	text-decoration: none;
}

a:hover {
	color: #ABABAB;
}


/*PRODUCTS INDEX******************************************************************************/

.product-nav {
	position: fixed;
}

.product-nav > ul > li {
	cursor: pointer;
}

.product-nav > ul > li:hover {
	color: #ABABAB;
}



input {
	display: block;
	margin-bottom: 1em;
	width: 6em;
}

#products {
	width: 693px;
  margin: 0 auto;
}

#auth-links {
	margin-top: 24px;
	float: right;
	width: 150px;
}

.product {
	float: left;
	height: 20em;
}

.product > p {
	width: 135px;
  margin: 0 auto;
}

.product > p > i {
	float: right;
}

.product > a > img {
	margin: 0em 3em 1em;
}


/*PRODUCT SHOW******************************************************************************/

.product-hero {
	display: block;
}

.image-group {
	padding-top: 2em;
}

.product-text {
	float: left;
	width: 420px;
	height: 700px;
}

.product-thumbs {
	height: 160px;
	margin-right: 38px;
}

.product-thumbs:last-child {
	margin: 0;
}

.materials {
	list-style: square;
}

.fav-squares {
	float: left;
	margin: 1em 3em;
}