html {
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	background-color: #FDFDFD;
	color: #010101;
}

body {
	margin: 4em 14em;
}

input {
	display: block;
	margin-bottom: 1em;
}

h1 {
	display: inline;
}

ul {
	margin: 0;
  padding: 0;
}

li {
	list-style-type: none;
}

.site-nav {
	text-align: center;
}

.site-nav > ul > li {
	display: inline;
	margin-right: 20px;
}

.nav-col {
	max-width: 15%;
	float: left;
}

.content-col {
	width: 85%;
	float: left;
}

#auth-links {
	float: right;
}

.product {
	float: left;
	height: 20em;
}

img {
	border: 1px solid #ABABAB;
}

.product > a > img {
	margin: 1em 3em;
}

.product > p {
	width: 135px;
  margin: 0 auto;
}

.product > p > i {
	float: right;
}

p {
	margin: 0 0 1em;
}

a {
	color: #010101;
	text-decoration: none;
}

a:hover {
	color: #ABABAB;
}

.product-hero {
	display: block;
}

.image-group {
	padding-top: 2em;
}

.product-text {
	float: left;
	width: 420px;
	height: 700px;
}

.product-thumbs {
	height: 160px;
	margin-right: 38px;
}

.product-thumbs:last-child {
	margin: 0;
}

.materials {
	list-style: square;
}

.fa-heart {
	color: red;
}

.fav-squares {
	float: left;
	margin: 1em 3em;
}