/*Variables *****************************************************************************/

$base-color: #FDFDFD;
$base-font-color: #010101;
$grey: #C4B3BC;
$base-font-size: 16px;


/*Clearfix *****************************************************************************/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/*GENERAL*******************************************************************************/

html {
	box-sizing: border-box;
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	// constantia for links
	// style_nums and product description aparajita
	background-color: #FDFDFD;
	color: $base-font-color;
	font-size: $base-font-size;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	width: 1000px;
}

#main-container {
	padding-top: 180px;
}

.container {
	@include outer-container;
}

#col-1 {
	@include span-columns(3);
}

#col-2 {
	@include span-columns(6);
}

#col-3 {
	@include span-columns(3);
	display: table;
	height: 600px;
}

ul {
	margin: 0;
  padding: 0;
}

li {
	list-style-type: none;
}

p {
	margin: 0 0 1em;
}

.red {
	color: red;
}

.active {
	color: $grey;
}

#social-group {
	position: absolute;
  top: 38px;
}

.social {
	color: $base-color;
}

.fa-stack {
	font-size: 0.8em;
	color: $grey;
	float: left;
}

/*HEADER**************************************************************************************/

#logo-main {
	display: block;
  margin: 0 auto;
}

header {
	z-index: 99999;
	padding: 2em 0;
	position: fixed;
	width: inherit;
	@include background(linear-gradient(to bottom, $base-color 75%, rgba(255, 255, 255, 0)));
}

.site-nav {
	text-align: center;
	margin: 2em 0 1em;
}

.site-nav > ul > li {
	display: inline;
	margin: 0 30px;
}

a {
	color: $base-font-color;
	text-decoration: none;
}

a:hover {
	color: $grey;
	cursor: pointer;
}

#auth-links {
	position: absolute;
  top: 47px;
  right: 0;
  font-size: 12px;
}


/*PRODUCTS INDEX******************************************************************************/

.product-nav {
	position: fixed;
}

.product-nav > ul > li {
	cursor: pointer;
}

.product-nav > ul > li:hover {
	color: $grey;
}

input {
	display: block;
	margin-bottom: 1em;
	width: 6em;
}

#products {
	width: 693px;
  margin: 0 auto;
}

.product {
	float: left;
	height: 20em;
}

.product > p {
	width: 135px;
  margin: 0 auto;
}

.product > p > i {
	float: right;
}

.product > a > img {
	margin: 0em 3em 1em;
}

.fa {
	cursor: pointer;
}


/*PRODUCT SHOW******************************************************************************/

.image-layer {
	position: relative;
}

.product-hero {
	display: block;
	margin: 0 auto;
}

.image-group {
	float: right;
}

.product-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	// margin: 50% 0;
	// 
}

.product-thumbs {
	height: 190px;
	margin-bottom: 15px;
	display: block;
}

.product-thumbs:last-child {
	margin-bottom: 0;
}

.materials {
	list-style: square;
}

.show-heart {
	font-size: 1.3em;
	position: absolute;
	right: 54px;
	top: 3px;
}

.fav-squares {
	float: left;
	margin: 1em 3em;
}