/*VARIABLES *****************************************************************************/

$base-color: #FDFDFD;
// $base-font-color: #010101;
$base-font-color: #635959;
$grey: #C4B3BC;
$dark-grey: #635959;
$base-font-size: 16px;


/*CLEARFIX *****************************************************************************/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/*ANIMATIONS *****************************************************************************/

.repeat-animation.ng-enter,
.repeat-animation.ng-move {
  @include transition(0.5s linear all);
}

.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-move-stagger {
  @include transition-delay(70ms);
  /* prevents any CSS inheritance issues */
  @include transition-duration(0);
}

/* ending enter and move styling*/
.repeat-animation.ng-enter,
.repeat-animation.ng-move { opacity:0; }

/* ending enter and move styling */
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active { opacity:1; }

/* starting leave animation */
// .repeat-animation.ng-leave { opacity:1; }

/* ending leave animation */
// .repeat-animation.ng-leave.ng-leave-active { opacity:0; }


/*GENERAL*******************************************************************************/

html {
	box-sizing: border-box;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	// constantia for links
	// style_nums and product description aparajita
	background-color: #FDFDFD;
	color: $base-font-color;
	font-size: $base-font-size;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	text-align: center;
}

#main-container {
	padding-top: 120px;
}

.container {
	width: 1000px;
	padding-top: 3em;
	@include outer-container;
}

#col-1 {
	@include span-columns(3);
}

#col-2 {
	@include span-columns(6);
}

#col-3 {
	@include span-columns(3);
	display: table;
	height: 600px;
}

ul {
	margin: 0;
  padding: 0;
}

li {
	list-style-type: none;
}

h2 {
	margin-top: 0;
}

p {
	margin: 0 0 1em;
}

a {
	color: $grey;
	text-decoration: none;
	&:hover {
		color: $base-font-color;
		cursor: pointer;
	}
}

.red {
	color: red;
}

.active {
	color: $base-font-color;
}

.alt-font {
	font-family: Aparjita, TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	text-transform: uppercase;
}

/*HEADER**************************************************************************************/

#logo-main {
	display: block;
  margin: 0 auto 1em;
}

header {
	width: 1000px;
	margin: 0 auto;
}

.header-container {
	z-index: 99999;
	padding: 1em 0;
	position: fixed;
	width: inherit;
	background-color: $base-color;
	// @include background(linear-gradient(to bottom, $base-color 75%, rgba(255, 255, 255, 0)));
}

nav {
	margin: 0.2em 0;
	li {
		display: inline;
		margin: 0 30px;
	}
}

.sub-header {
	width: 100%;
	background-color: $grey;
	position: fixed;
	z-index: 99999;
	min-height: .5em;
}

.sub-nav {
	margin: 0.4em 0;
}

#auth-links {
	position: absolute;
  top: 31px;
  right: 0;
  font-size: 12px;
}

#social-group {
	position: absolute;
  top: 28px;
}

.social {
	color: $base-color;
}

.fa-stack {
	font-size: 0.8em;
	color: $grey;
	float: left;
}


/*PRODUCTS INDEX******************************************************************************/

.product-nav {
	color: $base-color;
	li {
		cursor: pointer;
		&:hover {
			color: $dark-grey;
		}
	}
}

input {
	display: block;
	margin-bottom: 1em;
}

.products {
	width: 852px;
  margin: 0 auto;
}

.product {
	float: left;
	height: 19em;
	img {
		margin: 0em 2.5em 1em;
	}
	p {
		width: 135px;
	  margin: 0 auto;
	  text-align: left;
	  i {
	  	float: right;
	  }
	}
}

.fa {
	cursor: pointer;
}


/*PRODUCT SHOW******************************************************************************/

.image-layer {
	position: relative;
}

.product-hero {
	display: block;
	margin: 0 auto;
}

.image-group {
	float: right;
}

.product-text {
	display: table-cell;
	vertical-align: middle;
}

.product-thumbs {
	height: 190px;
	margin-bottom: 15px;
	display: block;
	&:last-child {
		margin-bottom: 0;
	}
}

.materials {
	list-style: square;
}

.show-heart {
	font-size: 1.3em;
	position: absolute;
	right: 54px;
	top: 3px;
}

/*STATIC PAGES******************************************************************************/

.contact-container {
	margin-top: 1em;
}