/*VARIABLES *****************************************************************************/

$base-color: #FDFDFD;
$base-font-color: #635959;
$black: #010101;
$grey: #C4B3BC;
$dark-grey: #635959;
$top-level: 999999;
$high-level: 99999;
$mid-level: 9999;


/*CLEARFIX *****************************************************************************/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/*ANIMATIONS *****************************************************************************/

.repeat-animation.ng-enter,
.repeat-animation.ng-move {
  @include transition(0.5s linear all);
}

.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-move-stagger {
  @include transition-delay(70ms);
  /* prevents any CSS inheritance issues */
  @include transition-duration(0);
}

/* ending enter and move styling*/
.repeat-animation.ng-enter,
.repeat-animation.ng-move { opacity:0; }

/* ending enter and move styling */
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active { opacity:1; }

/* starting leave animation */
// .repeat-animation.ng-leave { opacity:1; }

/* ending leave animation */
// .repeat-animation.ng-leave.ng-leave-active { opacity:0; }


/*GENERAL*******************************************************************************/

html {
	box-sizing: border-box;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	// constantia for links
	// style_nums and product description aparajita
	background-color: $base-color;
	color: $base-font-color;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	text-align: center;
}

#main-container {
	padding-top: 7.5em;
}

.container {
	width: 1000px;
	padding-top: 3em;
	@include outer-container;
}

#col-1 {
	@include span-columns(3);
}

#col-2 {
	@include span-columns(6);
}

#col-3 {
	@include span-columns(3);
	display: table;
	height: 37.5em;
}

ul {
	margin: 0;
  padding: 0;
}

li {
	list-style-type: none;
}

h2 {
	margin-top: 0;
}

p {
	margin: 0 0 1em;
}

a {
	color: $grey;
	text-decoration: none;
	&:hover {
		color: $base-font-color;
		cursor: pointer;
	}
}

.red {
	color: red;
}

.active {
	color: $base-font-color;
}

.alt-font {
	font-family: Aparjita, TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
	text-transform: uppercase;
}

.sub-header.shadow {
	box-shadow: 0 0.188em 0.5em -0.125em rgba(0, 0, 0, 0.4);
}

/*LANDING PAGE**************************************************************************************/

#landing-cover {
	color: $base-color;
  background-color: $black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $high-level;
  height: 100vh;
  padding-top: 30vh;
	#volume {
		z-index: $top-level;
		font-size: 1.5em;
		position: absolute;
		top: 1em;
		right: 1.5em;
	}	
  .social-group {
  	font-size: 1.5em;
  	top: 1em;
  	left: 1.5em;
  	z-index: $top-level;
  	i {
  		margin-right: 0.5em;
  	}
  }
}

#hero-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
}

.svg-wrap {
position: relative;
	z-index: $top-level;
}

#landing-footer {
	position: fixed;
	bottom: 3em;
	left: 50%;
}

#landing-nav {
	position: relative;
	left: -50%;
	a {
		color: $base-color;
		&:hover {
			color: $grey;
		}
	}
}

.login {
	position: relative;
	z-index: $top-level;
}

 form {
  margin-top: 4em;
}

input {
	border: none;
	border-radius: 0.125em;
	height: 2em;
	width: 19em;
	padding-left: 0.5em;
	outline: $grey;
	display: block;
	margin: 0 auto 1em;
	background-color: $base-color;
	&:focus {
		box-shadow: 0 0 0 0.125em $grey;
	}
}

#login-button {
	border: none;
  background: transparent;
  color: white;
  outline: none;
}

/*HEADER**************************************************************************************/

#logo-main {
  margin: 0 auto 1em;
  position: relative;
  display: inline-block;
}

header {
	width: 1000px;
	margin: 0 auto;
}

.header-container {
	z-index: $mid-level;
	padding: 1em 0;
	position: fixed;
	width: inherit;
	background-color: $base-color;
	// @include background(linear-gradient(to bottom, $base-color 75%, rgba(255, 255, 255, 0)));
}

nav {
	margin: 0.2em 0;
	li {
		display: inline;
		margin: 0 1.875em;
	}
}

.sub-header {
	width: 100%;
	background-color: $grey;
	position: fixed;
	z-index: $mid-level;
	min-height: .5em;
	@include transition(all 0.2s linear);
}

.sub-nav {
	margin: 0.4em 0;
}

#auth-links {
	position: absolute;
  top: 2.75em;
  right: 0;
  font-size: 0.75em;
}

.social-group {
	position: absolute;
  top: 1.75em;
}

.social {
	color: $base-color;
}

.fa-stack {
	font-size: 0.8em;
	color: $grey;
	float: left;
}


/*PRODUCTS INDEX******************************************************************************/

.product-nav {
	color: $base-color;
	li {
		cursor: pointer;
		&:hover {
			color: $dark-grey;
		}
	}
}

// input {
// 	display: block;
// 	margin-bottom: 1em;
// }

.products {
	width: 852px;
  margin: 0 auto;
}

.product {
	float: left;
	height: 19em;
	img {
		margin: 0em 2.5em 1em;
	}
	p {
		width: 8.438em;
	  margin: 0 auto;
	  text-align: left;
	  i {
	  	float: right;
	  }
	}
}

.fa {
	cursor: pointer;
}

.fade-footer {
	z-index: $mid-level;
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 2.063em;
  width: 100%;
  background: -webkit-linear-gradient( bottom , $base-color 50%, rgba(255, 255, 255, 0));
}


/*PRODUCT SHOW******************************************************************************/

.image-layer {
	position: relative;
}

.product-hero {
	display: block;
	margin: 0 auto;
}

.image-group {
	float: right;
}

.product-text {
	display: table-cell;
	vertical-align: middle;
}

.product-thumbs {
	height: 190px;
	margin-bottom: 0.938em;
	display: block;
	&:last-child {
		margin-bottom: 0;
	}
}

.materials {
	list-style: square;
}

.show-heart {
	font-size: 1.3em;
	position: absolute;
	right: 3.125em;
	top: 0.375em;
}

/*STATIC PAGES******************************************************************************/

.contact-container {
	margin-top: 1em;
}



/*MEDIA QUERIES******************************************************************************/


@media only screen and (max-width: 1024px) {
	
	header, .container {
		width: 95%;
	}

}

@media only screen and (max-width: 900px) {

		.products {
		width: 720px;
		img {
			height: 240px;
		}
		.product {
			height: 21em;
			p {
				width: 160px;
			}
		}
	}

}

@media only screen and (max-width: 760px) {
	// Change to menu icon format
	.products {
		width: 560px;
		img {
			height: 300px;
		}
		.product {
			height: 25em;
			p {
				width: 200px;
			}
		}
	}

}

@media only screen and (max-width: 600px) {
	
	.products {
		width: 91vw;
		img {
			height: 50vw;
			margin: 0 6vw 0.5em;
		}
		.product {
			height: 66vw;
			p {
				width: 33.5vw;
			}
		}
	}


}





