<h2>Products</h2>
<% if current_user %>
	<% if current_user.is_admin? %>
		<%= link_to "Add New", new_product_path %>
	<% end %>
<% end %>

<% @products.each do |product| %>
	<div class="product">
		<%= image_tag product.images.first.source.small %>
		<h3><%= link_to product.style, product_path(product.id) %></h3>	
		<p><%= product.style_num %></p>
	</div>
<% end %>
